@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
header {
    background: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transition: all 0.35s ease 0s;
    width: 100%;
    padding: 15px 5%;
    box-shadow: 0 5px 10px -10px black;
}
.nav-links {
    list-style: none;
}
.nav-links li a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0.175em;
    color: #4D4D4D;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: black;
}
.nav-links li {
    display: inline-block;
    padding: 0 25px;
}
.nav-links #current-page {
    font-weight: bold;
}
.appointment {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0.175em;
    color: white;
    text-decoration: none;
    background: #9830AB;
    border-radius: 0.625rem;
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.appointment:hover {
    background-color: #591C64;
}
.desc {
    text-align: center;
    padding: 120px 10px 10px;
    border-bottom: 1px solid black;
}

.container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 4px;
}

.container p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 0 250px;
    margin: 20px 10px 10px 0;
}

.content1 {
    padding: 1.5% 0;
    background: #f4f4f4;
}
.content1 p {
    text-indent: 0px;
    text-align: justify;
}

.row {
    display: flex;
    flex-direction: row;
    background: #f4f4f4;
    padding-bottom: 2%;
}
.column1 {
    width: 100%;
    flex-basis: 50%;
    letter-spacing: 3px;
    margin-left: 8.5%;
    margin-right: -12%;
    text-align: left;
    
}
.column2 {
    width: 100%;
    flex-basis: 50%;
    letter-spacing: 3px; 
    margin-right: 11%;
    text-align: left;
}
.slider-container {
    display: flex;
    margin-top: 40px;
    margin-right: 10%;
    margin-left: -2%;
}
.slide-column1 {
    width: 100%;
    flex-basis: 20%;
    margin-left: 7%;
    margin-right: -15%;
}
.slide-column2 {
    width: 100%;
    flex-basis: 20%;
}
.container ul {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 100px;
    margin-top: 10px;
}

.container li {
    margin-bottom: 15px;
    float:left;
}

.slideshow{
    position: relative;
    background: rgba(76,156,69,0.8);
    width: 500px;
    min-height: 400px;
    margin: 150px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.slideshow .slideimg{
    position: absolute;
    width: 200%;
    height: 200%;
    clip-path: circle(0% at 0 50%);
}

.slideshow .slideimg.active1{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slideshow .slideimg img{
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.navigator{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slideshow:hover .navigator{
    opacity: 1;
}

.left-btn, .right-btn{
    z-index: 999;
    font-size: 2em;
    color: black;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    cursor: pointer;
}

.left-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.right-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigator-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigator-visibility .slide-pic{
    z-index: 999;
    background: rgba(0,0,0,0.2);
    width: 10px;
    height: 5px;
    transform: translateY(-2px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1,1,1 / 40%);
}

.navigator-visibility .slide-pic.active1{
    background: #4C9C45;
}

@media (max-width: 900px){
    .slideshow {
        width: 100%;
    }
}

.slider {
    position: relative;
    background: rgba(18,85,166,0.8);
    width: 500px;
    min-height: 400px;
    margin: 150px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slide{
    position: absolute;
    width: 200%;
    height: 200%;
    clip-path: circle(0% at 0 50%);   
}

.slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slider .slide img{
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.slider .slide .info{
    
    position: absolute;
    color: #222;
    background: rgba(18,85,166,0.3);
    width: 100%;
    margin-top: 370px;
    margin-left: -240px;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 70%);
}

.slider .slide .info h2 {
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
    margin-bottom: -2px;
    font-size: 1em;
    text-align: center;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-weight: 1000;
}

.slider .slide .info p{
    font-family: "Roboto", sans-serif;
    margin-left: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation{
    opacity: 1;
}

.prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: black;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility .slide-icon {
    z-index: 999;
    background: rgba(0,0,0,0.2);
    width: 10px;
    height: 5px;
    transform: translateY(-2px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1,1,1 / 40%);
}

.navigation-visibility .slide-icon.active{
    background: #1255A6;
}

@media (max-width: 900px){
    .slider {
        width: 100%;
    }

    .slider .slide .info {
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px){
    .slider .slide .info h2 {
        font-size: 1em;
        line-height: 40px;
    }

    .slider .slide .info p {
        font-size: 0.9em;
        
    }
}

.slideshow{
    position: relative;
    background: rgba(76,156,69,0.8);
    width: 500px;
    min-height: 400px;
    margin: 150px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.slideshow .slideimg{
    position: absolute;
    width: 200%;
    height: 200%;
    clip-path: circle(0% at 0 50%);
}

.slideshow .slideimg.active1{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slideshow .slideimg img{
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.navigator{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slideshow:hover .navigator{
    opacity: 1;
}

.left-btn, .right-btn{
    z-index: 999;
    font-size: 2em;
    color: black;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    cursor: pointer;
}

.left-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.right-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigator-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
}


.navigator-visibility .slide-pic{
    z-index: 999;
    background: rgba(0,0,0,0.2);
    width: 10px;
    height: 5px;
    transform: translateY(-2px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1,1,1 / 40%);
}

.navigator-visibility .slide-pic.active1{
    background: #4C9C45;
}

@media (max-width: 900px){
    .slideshow {
        width: 100%;
    }
}

.avail-services {
    background-color: #F4F4F4;
    margin-top: -100px;
    padding: 50px 300px;
    letter-spacing: 0.175em;
    text-align: center;
}

.avail-services h1{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    letter-spacing: 5px;
    margin: 40px;
    margin-top: -20px;
}

.avail-services a{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    background: #9830AB;
    border-radius: 10px;
}
footer {
    background-color: white;
    flex-shrink: 0;
}
.main-content h4 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.175em;
}

.main-content {
    box-sizing: border-box;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    padding: 10px 20px;
}

.main-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0.175em;
    color: #656565;
    margin: 5px 0 0 0;
}

.left-content, .mid-content, .right-content {
    padding: 0 50px;
}

.copyright p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.175em;
    color: #4D4D4D;
    text-align: center;
}
